*{
    box-sizing: border-box;
}

.my-body-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.my-section-container{
    display: flex;

    position: relative;

    max-width: 1000px;
    margin: 1em 0;
}

#my-img{
    width: 100%;
}

#up-arrow{
    position: absolute;

    top: 0;
    left: 50%;
    font-size: 2em;
    color: white;
    margin-top: 0.5em;

    background-color: grey;
    opacity: 0.5;
    border-radius: 30%;
}

#down-arrow{
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 2em;
    color: white;
    margin-bottom: 0.5em;

    background-color: grey;
    opacity: 0.5;
    border-radius: 30%;
}

#down-arrow:hover,
#up-arrow:hover{
    opacity:1;
}

#dots-container{}