*{
    box-sizing: border-box;
}

.my-body-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.my-section-container{
    display: flex;

    position: relative;

    max-width: 1000px;
    margin: 1em 0;
}

#my-img{
    width: 100%;
}

#up-arrow{
    position: absolute;

    top: 0;
    left: 50%;
    font-size: 2em;
    color: white;
    margin-top: 0.5em;

    background-color: grey;
    opacity: 0.5;
    border-radius: 30%;
}

#down-arrow{
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 2em;
    color: white;
    margin-bottom: 0.5em;

    background-color: grey;
    opacity: 0.5;
    border-radius: 30%;
}

#down-arrow:hover,
#up-arrow:hover{
    opacity:1;
}



#dots-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;


    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#dots-container .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: white;
    border: solid 1px white;
    margin-right: 10px;
}

#dots-container .dot.active{
    opacity: 1;
}