*{
    box-sizing: border-box;
}

.my-body-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.my-section-container{
    display: flex;

    position: relative;

    max-width: 1000px;
    margin: 1em 0;
}

#my-img{
    width: 100%;
}

#up-arrow{
    position: absolute;

    top: 0;
    left: 50%;
    font-size: 2em;
    color: grey;
    margin-top: 0.5em;
}

#down-arrow{
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 2em;
    color: grey;
    margin-bottom: 0.5em;
}

#dots-container{}